*/.svn/*
**/.svn/*
**/bin/*
/.svn/
target/
.DS_Store
.classpath
.project
.settings/
*.iml
*.ipr
*.iws
keystore
/.idea/
/kevoree-tools/org.kevoree.tools.root/target/
/kevoree-tools/org.kevoree.tools.ui.editor/target/
/kevoree-core/org.kevoree.deploy.osgi/target/
/kevoree-platform/org.kevoree.platform.osgi.standalone.gui/target/
/kevoree-platform/org.kevoree.platform.osgi.standalone/target/
/kevoree-library/org.kevoree.library.gossiper/target/
/kevoree-tools/org.kevoree.tools.ui.editor.standalone/target/
/kevoree-core/org.kevoree.remote/target/
/kevoree-library/org.kevoree.library.gossiperNetty/target/
/kevoree-core/org.kevoree.root/target/
/kevoree-library/org.kevoree.library.defaultNodeTypes/target/
/kevoree-library/org.kevoree.library.defaultChannels/target/
/kevoree-library/org.kevoree.library.fakeDomo/target/
/kevoree-core/org.kevoree.basechecker/target/
/kevoree-core/org.kevoree.kompare/target/
/kevoree-library/org.kevoree.library.restChannels/target/
